doctype html

block html
    html(xmlns:ng="http://angularjs.org", id="ng-app", ng-app="regidiumApp", lang="{{lang}}")

        block head
            head
                base(href="/")
                - var title = title ? title : "My Regidium"
                title(translate)= title

                block meta
                    meta(charset="utf8")
                block base_style
                    script.
                        (function(){'use strict';function d(a){return function(){var c=arguments[0],b,c="["+(a?a+":":"")+c+"] http://errors.angularjs.org/1.2.7/"+(a?a+"/":"")+c;for(b=1;b<arguments.length;b++)c=c+(1==b?"?":"&")+"p"+(b-1)+"="+encodeURIComponent("function"==typeof arguments[b]?arguments[b].toString().replace(/ \{[\s\S]*$/,""):"undefined"==typeof arguments[b]?"undefined":"string"!=typeof arguments[b]?JSON.stringify(arguments[b]):arguments[b]);return Error(c)}}(function(a){var c=d("$injector"),b=d("ng");a=a.angular|| (a.angular={});a.$$minErr=a.$$minErr||d;return a.module||(a.module=function(){var a={};return function(e,d,f){if("hasOwnProperty"===e)throw b("badname","module");d&&a.hasOwnProperty(e)&&(a[e]=null);return a[e]||(a[e]=function(){function a(c,d,e){return function(){b[e||"push"]([c,d,arguments]);return g}}if(!d)throw c("nomod",e);var b=[],h=[],k=a("$injector","invoke"),g={_invokeQueue:b,_runBlocks:h,requires:d,name:e,provider:a("$provide","provider"),factory:a("$provide","factory"),service:a("$provide", "service"),value:a("$provide","value"),constant:a("$provide","constant","unshift"),animation:a("$animateProvider","register"),filter:a("$filterProvider","register"),controller:a("$controllerProvider","register"),directive:a("$compileProvider","directive"),config:k,run:function(a){h.push(a);return this}};f&&k(f);return g}())}}())})(window)})(window);                
                    - if (env == 'production')
                        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
                        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css")
                        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
                    - else
                        link(rel="stylesheet", href="/js/libs/bootstrap/css/bootstrap.min.css")
                        link(rel="stylesheet", href="/js/libs/bootstrap/css/bootstrap-theme.min.css")
                        link(rel="stylesheet", href="/js/libs/font-awesome/css/font-awesome.min.css")
                    link(rel="stylesheet", href="/js/libs/angular/angular-loading-bar/loading-bar.min.css")
                    link(rel="stylesheet", href="/css/app.css")
                    link(rel="stylesheet", href="/js/libs/angular/angular-block-ui/css/angular-block-ui.min.css")
                    link(rel="stylesheet", href="/css/fontello/fontello.css")
                    //if lt IE 7
                        link(rel='stylesheet', href='/css/fontello/fontello-ie7.css')
                block style

        block body_inner

            body.ng-cloak(ng-cloak)

                block body

                    block header_inner
                        header.navbar.navbar-inverse.navbar-fixed-top(role="banner")
                            .container
                                block header

                    block content_inner
                        .container
                            block content

                    block footer_inner
                        footer(role="contentinfo")
                            .container
                                block footer
                                    | © 2014 Regidium

                    block alert
                        include alerts

                    block auto_popups

                    block base_script
                        - if (env == "production")
                            script(src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js", type="text/javascript")
                        - else
                            script(src="/js/libs/headjs/head.load.min.js", type="text/javascript")

                    block script